* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header start  */
#first {
    background-image: linear-gradient(rgba(60, 74, 79, 0.8), rgba(60, 74, 79, 0.8)), url(./img/hero-bg.jpg);
    width: 100%;
    height: 582px;
    background-size: cover;
    background-position: center;
    /* display: flex; */
    background-attachment: fixed;
    
}

.navbar {
    display: flex;
    background-color: #051922;
    height: 100px;
    padding-bottom:50px;
    width: 100%;
    /* position: fixed; */
   
}


.nav-img img {
    height: 42px;
    cursor: pointer;
    margin: 30px 50px;
}

.nav-center ul {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin: 25px 157px;

}

.nav-center ul li {
    display: inline-block;
    padding: 20px;

}

.nav-center ul li a {
    text-decoration: none;
    color: white;


}

.nav-center ul li a:hover {
    color: #F28123;
}

.nav-end a {
    color: white;
    display: inline-block;
    margin: 47px 15px;
}

.nav-end i:hover {
    color: #F28123;
}

.one {
    color: #F28123;
    margin: 95px 477px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 9px;
    font-size: 13px;
}

.two {
    font-size: 29px;
    font-family: "Poppins", sans-serif;
    color: #fff;
    margin: -67px 249px;
}

.btn {
    margin: 113px 469px;
}

a.box-btn {
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    background-color: #F28123;
    color: #fff;
    padding: 10px 20px;
    border-radius: 50px;
    text-decoration: none;
}

a.border-btn {
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    color: #fff;
    border: 2px solid #F28123;
    padding: 7px 20px;
    border-radius: 50px;
    text-decoration: none;
}

a.box-btn:hover {
    color: #F28123;
    background-color: #051922;
}

a.border-btn:hover {
    background-color: #F28123;
}

/* header end */
/* list section start*/

.second {
    width: 100%;
    background-color: #f5f5f5;
}

.service {


    padding: 40px;
    display: flex;

}

.infomation {
    width: 35%;
    display: flex;
    padding: 10px;
}

.icon {
    /* height: 70px;
    width: 50px; */
    color: #F28123;
    border: 2px dotted;
    font-size: 25px;
    padding: 15px;
    border-radius: 50%;
    border-color: #F28123;
}

.contact {
    padding-left: 15px;
}

.contact h3 {
    font-family: Poppins, sans-serif;
    color: #051922;
    font-size: 18px;

}

.contact p {
    font-family: "Open Sans", sans-serif;
    color: #051922bd;
    font-size: 14px;
}
/* list section end */
/* our product strt */
.our-product{
    width: 100%;
    padding-top: 130px;
    
}
.orange-text{
    color: #F28123;
}
.product-text h1{
    font-family: Poppins, sans-serif;
    font-size: 40px;
    color: #051922;
}
.product-text p{
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    color: #555555;
    padding-top: 30px;
}
.product{
    width: 100%;
    display: flex;
}
.product-info{
    /* background-color: aqua; */
    width: 100%;
    padding: 50px;
   
}
.product-img{
    padding: 30px;
}
.product-img img{
    width: 100%;
    
   
    
}

.product-one {
    font-family: Poppins, sans-serif;
    /* background-color: black; */
    height: 550px;
    width: 110%;
    box-shadow: 0 0 20px #e4e4e4;
    border-radius: 5px; 
   

}
.product-one:hover{
    box-shadow: none;
    border-radius: none;
}
/* .product-shipping{
    margin-top: 50px;
} */
.product-one h3{
    font-size: 20px;
    color: #051922;
}
.product-one p span{
    font-size: 15px;
    color: #051922;
}
.product-one p{
    font-size: 30px;
    color: #051922;
}
.cart-btn{
    text-decoration: none;
    color: white;
    background-color: #F28123;
    margin-top: 20px;
    
    padding: 10px 30px 10px 30px;
    border-radius: 50px;
}
.cart-btn:hover{
    color: #F28123;
    background-color: #051922;
}

/* our product end */  


 /* Deal of the month start */
.fourth{
    width: 100%;
    background-color: #F5F5F5;
    margin-top: 150px;
  
    
}
.Deal-of-the-month{
    display: flex;
}
.part-one{
    display: flex;
    width: 50%;
}
.price-box{
    background-color:#F28123;
    position: absolute;
    border-radius: 50%;
    padding: 30px 25px 30px 25px;
    margin: 150px 0px 0px 100px;
    border: 10px solid #F29E57;
}
.price-box span strong{
    font-size: 24px;
    font-family: "Open Sans", sans-serif;
}
.price-box span{
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
}
.part-one img{
    margin: 150px 0px 0px 20px;
    width:100%;
    padding: 50px;
}
.part-two{
    width: 50%;
    margin-top: 75px;
    padding: 60px;
    /* background-color: aqua; */

}
.part-two h3{
    font-size: 40px;
    font-family:Poppins, sans-serif ;
}
.part-two .orange-text{
    color:#F28123;
}
.part-two h4{
    font-size: 21px;
    margin-top: 15px;
    font-family:Poppins, sans-serif ;
    font-weight: 100;
}
.text{
    /* font-size: 14px; */
    color: #051922;
    margin-top: 25px;
    margin-bottom: 25px;
    font-weight: 400;
}
.time-counter{
    /* position: relative; */
    margin-top: 30px;
}
/* .counter-main-box{
    position: relative;
} */

.box{
    /* position: relative; */
    border: 2px solid #F28123;
    display: inline-block;
    margin: 0px;
    padding: 8px 20px 14px;
}
.count{
    font-size: 30px;
    color: #F28123;
}
.btn a{
    text-decoration: none;
    background-color: #F28123;
    border-radius: 50px;
}
.fourth-btn{
    text-decoration: none;
    color: white;
    background-color: #F28123;
    margin-top: 50px;
    border: 0;
    padding: 10px 30px 10px 30px;
    border-radius: 50px;
}
.fourth-btn:hover{
    color: #F28123;
    background-color: #051922;
}

/* Deal of the month end */


/* local shope owner start */
.five{
    width: 100%;
    margin-top: 150px
}
.five-img img{
    height: 120px;
    border-radius: 50%;
}
.five-info{
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    /* padding: 10px 10px 10px 10px; */
    font-family: Poppins, sans-serif;
}
.five-info p{
    margin-top: 20px;
    padding: 15px 300px 0px 300px;
    color: #999999;
    font-size: 17px;
   
}

.five-info span{
    font-size: 14px;
    color: #999999;
    margin-top: 20px;
}
.five-info i{
    margin-top: 20px;
    color: #999999;
    font-size: 35px;
}

/* local shope owner end */

/* We are Fruitkha start */

.six{
    width: 100%;
    display: flex;

}

.six-one{
    width: 50%;
    /* margin: 150px 50px 0px 50px;
    background-image: url(../img/abt.jpg);
    height: 300px;
    width: 50%;
    background-size: cover;
    background-position: center;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    position: relative; */
    
}
.video{
    margin: 150px 50px 0px 50px;
    background-image: url(../img/abt.jpg);
    height: 450px;
    /* width: 50%; */
    background-size: cover;
    background-position: center;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    position: relative;
    

}
.six a{
    position: absolute;
    background-color: #F28123;
    color: #051922;
    width: 90px;
    height: 90px;
    text-align: center;
    line-height: 92px;
    border-radius: 50%;
    font-size: 20px;
    padding-left: 5px;
   
    top: 50%;
    margin-top: -45px;
    
    box-shadow: 0 0 20px #adadad;
    left: 50%;
    margin-left: -45px;}
.six-two{
    width: 50%;
    margin-top: 150px;
}
.six-text{
    padding: 50px 50px 50px 30px;
}
.six-text p{
    font-size: 15px;
    margin-bottom: 20px;
    font-family: "Open Sans", sans-serif;
   
}
.six-text h2{
    font-size: 42px;
    margin-bottom: 20px;
    font-family: Poppins, sans-serif;
}
.six-text span{
    color: #F28123;
    margin-top: 30px;
}
/* .six-text a{
    background-color: #F28123;
} */
button{
    background-color: #F28123;
    padding: 15px 25px 15px 25px;
    border-radius: 50px;
    border: none;
    color: white;
    cursor: pointer;
} 
 .six-btn:hover{
    color: #F28123;
    background-color: #051922;

}

/* We are Fruitkha end */

/* December sale is on start */
.seven{
    width: 100%;
    background-image: url(./img/1.jpg);
    margin-top: 150px;
    height: 500px;
    /* position: relative; */
}
.seven h3{
    font-size: 50px;
    padding: 100px 0px 0px 50px;
}
.seven .orange-text{
    color: #F28123;
}
.seven-seal{
    font-size: 50px;
}
.seven-seal span{
    font-size: 24px ;
}



/* December sale is on  start*/