
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header start  */
#first {
    background: linear-gradient(rgba(60, 74, 79, 0.8), rgba(60, 74, 79, 0.8)), url(./img/hero-bg.jpg);
    width: 100%;
    height: 582px;
    background-size: cover;
    background-position: center;
    display: flex;
    background-attachment: fixed;
    
}

.navbar {
    display: flex;
    /* background-color: #051922 ; */
    height: 100px;
    padding-bottom:50px;
    width: 100%;
    position: fixed;
    z-index: 1;
    /* position: sticky;
    top: 0;
    */
}
.nav-img{
    width: 20%;
}


.nav-img img {
    
    height: 42px;
    cursor: pointer;
    margin: 30px 50px;
}

.nav-center ul {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin: 25px 157px;

}
.nav-center{
    width: 70%;
}


.nav-center ul li {
    display: inline-block;
    padding: 20px;

}

.nav-center ul li a {
    text-decoration: none;
    color: white;


}

.nav-center ul li a:hover {
    color: #F28123;
}
.nav-end{
    width: 10%;
    margin-right: 35px;
}

.nav-end a {
    color: white;
    display: inline-block;
    margin: 47px 15px;
}

.nav-end i:hover {
    color: #F28123;
}

.one {
    color: #F28123;
    margin: 200px 477px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 9px;
    font-size: 13px;
}

.two {
    font-size: 29px;
    font-family: "Poppins", sans-serif;
    color: #fff;
    margin: -67px 249px;
}

.btn {
    margin: 113px 469px;
    /* background-color: #F28123; */
}
/* .btn a{
    background-color: #F28123;
} */

a.box-btn {
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    background-color: #F28123;
    color: #fff;
    padding: 10px 20px;
    border-radius: 50px;
    text-decoration: none;
}

a.border-btn {
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    color: #fff;
    border: 2px solid #F28123;
    padding: 7px 20px;
    border-radius: 50px;
    text-decoration: none;
}

a.box-btn:hover {
    color: #F28123;
    background-color: #051922;
}

a.border-btn:hover {
    background-color: #F28123;
}

/* header end */
/* list section start*/

.second {
    width: 100%;
    background-color: #f5f5f5;
}

.service {


    padding: 40px;
    display: flex;

}

.infomation {
    width: 35%;
    display: flex;
    padding: 10px;
}

.icon {
    /* height: 70px;
    width: 50px; */
    color: #F28123;
    border: 2px dotted;
    font-size: 25px;
    padding: 15px;
    border-radius: 50%;
    border-color: #F28123;
}

.contact {
    padding-left: 15px;
}

.contact h3 {
    font-family: Poppins, sans-serif;
    color: #051922;
    font-size: 18px;

}

.contact p {
    font-family: "Open Sans", sans-serif;
    color: #051922bd;
    font-size: 14px;
}
/* list section end */
/* our product strt */
.third{
    width: 100%;
}
.our-product{
    /* width: 100%; */
    padding-top: 130px;
    
}
.orange-text{
    color: #F28123;
}
.product-text h1{
    font-family: Poppins, sans-serif;
    font-size: 40px;
    color: #051922;
}
.product-text p{
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    color: #555555;
    padding-top: 30px;
}
.product{
    width: 100%;
    display: flex;
}
.product-info{

    width: 100%;
    padding: 50px;
   
}
.product-img{
    padding: 30px;
}
.product-img img{
    width: 100%;
    
   
    
}

.product-one {
    font-family: Poppins, sans-serif;
    /* background-color: black; */
    height: 550px;
    width: 110%;
    box-shadow: 0 0 20px #e4e4e4;
    border-radius: 5px; 
   

}
.product-one:hover{
    box-shadow: none;
    border-radius: none;
}

.product-one h3{
    font-size: 20px;
    color: #051922;
}
.product-one p span{
    font-size: 15px;
    color: #051922;
}
.product-one p{
    font-size: 30px;
    color: #051922;
}
.cart-btn{
    text-decoration: none;
    color: white;
    background-color: #F28123;
    margin-top: 20px;
    
    padding: 10px 30px 10px 30px;
    border-radius: 50px;
}
.cart-btn:hover{
    color: #F28123;
    background-color: #051922;
}

/* our product end */  


 /* Deal of the month start */
.fourth{
    width: 100%;
    background-color: #F5F5F5;
    margin-top: 150px;
  
    
}
.Deal-of-the-month{
    display: flex;
}
.part-one{
    display: flex;
    width: 50%;
}
.price-box{
    background-color:#F28123;
    position: absolute;
    border-radius: 50%;
    padding: 30px 25px 30px 25px;
    margin: 150px 0px 0px 100px;
    border: 10px solid #F29E57;
}
.price-box span strong{
    font-size: 24px;
    font-family: "Open Sans", sans-serif;
}
.price-box span{
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
}
.part-one img{
    margin: 150px 0px 0px 20px;
    width:100%;
    padding: 50px;
}
.part-two{
    width: 50%;
    margin-top: 75px;
    padding: 60px;
   

}
.part-two h3{
    font-size: 40px;
    font-family:Poppins, sans-serif ;
}
.part-two .orange-text{
    color:#F28123;
}
.part-two h4{
    font-size: 21px;
    margin-top: 15px;
    font-family:Poppins, sans-serif ;
    font-weight: 100;
}
.text{
    
    color: #051922;
    margin-top: 25px;
    margin-bottom: 25px;
    font-weight: 400;
}
.time-counter{
    /* position: relative; */
    margin-top: 30px;
}


.box{
    /* position: relative; */
    border: 2px solid #F28123;
    display: inline-block;
    margin: 0px;
    padding: 8px 20px 14px;
}
.count{
    font-size: 30px;
    color: #F28123;
}
/* .btn a{
    text-decoration: none;
    background-color: #F28123;
    border-radius: 50px;
} */
.fourth-btn{
    text-decoration: none;
    color: white;
    background-color: #F28123;
    margin-top: 50px;
    border: 0;
    padding: 10px 30px 10px 30px;
    border-radius: 50px;
}
.fourth-btn:hover{
    color: #F28123;
    background-color: #051922;
}

/* Deal of the month end */


/* local shope owner start */
.five{
    width: 100%;
    margin-top: 150px
}
.five-img img{
    height: 120px;
    border-radius: 50%;
}
.five-info{
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
  
    font-family: Poppins, sans-serif;
}
.five-info p{
    margin-top: 20px;
    padding: 15px 300px 0px 300px;
    color: #999999;
    font-size: 17px;
   
}

.five-info span{
    font-size: 14px;
    color: #999999;
    margin-top: 20px;
}
.five-info i{
    margin-top: 20px;
    color: #999999;
    font-size: 35px;
}

/* local shope owner end */

/* We are Fruitkha start */

.six{
    width: 100%;
    display: flex;

}

.six-one{
    width: 50%;
    /* margin: 150px 50px 0px 50px;
    background-image: url(../img/abt.jpg);
    height: 300px;
    width: 50%;
    background-size: cover;
    background-position: center;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    position: relative; */
    
}
.video{
    margin: 150px 50px 0px 50px;
    background-image: url(../img/abt.jpg);
    height: 450px;
    /* width: 50%; */
    background-size: cover;
    background-position: center;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    position: relative;
    

}
.six a{
    position: absolute;
    background-color: #F28123;
    color: #051922;
    width: 90px;
    height: 90px;
    text-align: center;
    line-height: 92px;
    border-radius: 50%;
    font-size: 20px;
    padding-left: 5px;
   
    top: 50%;
    margin-top: -45px;
    
    box-shadow: 0 0 20px #adadad;
    left: 50%;
    margin-left: -45px;}
.six-two{
    width: 50%;
    margin-top: 150px;
}
.six-text{
    padding: 50px 50px 50px 30px;
}
.six-text p{
    font-size: 15px;
    margin-bottom: 20px;
    font-family: "Open Sans", sans-serif;
   
}
.six-text h2{
    font-size: 42px;
    margin-bottom: 20px;
    font-family: Poppins, sans-serif;
}
.six-text span{
    color: #F28123;
    margin-top: 30px;
}

button{
    background-color: #F28123;
    padding: 15px 25px 15px 25px;
    border-radius: 50px;
    border: none;
    color: white;
    cursor: pointer;
} 
 .six-btn:hover{
    color: #F28123;
    background-color: #051922;

}

/* We are Fruitkha end */

/* December sale is on start */
.seven{
    width: 100%;
    background-image: url(./img/1.jpg);
    margin-top: 150px;
    height: 480px;
    /* position: relative; */
}
.seven h3{
    font-size: 50px;
    padding: 100px 0px 0px 50px;
}
.seven .orange-text{
    color: #F28123;
}
.seven-seal{
    font-size: 60px;
    margin: 10px 0px 0px 56px;
    color: #F28123;
    font-weight: bold;
}
.seven-seal span{
    font-size: 24px;
    margin-bottom: 50px;
    color: #051922;
    font-weight: normal;
    text-align: center;

    display: inline-block;
}

.seven a{
   
    text-decoration: none;
    color: white;
    background-color: #F28123;
    border-radius: 50px;
    font-size: 18px;
    padding: 15px 25px 15px 25px;
    margin-left: 56px;
}
.seven a:hover{
    color: #F28123;
    background-color: #051922;
} 


/* December sale is on  end*/


/* our-news start */
.eight{
    width: 100%;
}
.our-news{
    /* width: 100%; */
    padding-top: 130px;
    
}
.orange-text{
    color: #F28123;
}
.news-text h1{
    font-family: Poppins, sans-serif;
    font-size: 40px;
    color: #051922;
}
.news-text p{
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    color: #555555;
    padding-top: 30px;
}
.news{
    width: 100%;
    display: flex;
}
.news-info{

    width: 100%;
    padding: 50px;
   
}
.news-img img{
    width: 100%;
    border-radius: 10px 10px 0px 0px; 
}
.news-img a{
    transition: all 0.2s ease-in-out;
}

.news-one {
    font-family: Poppins, sans-serif;
    /* background-color: black; */
    height: 460px;
    width: 110%;
    box-shadow: 0 0 20px #e4e4e4;
 
   

}
.news-one:hover{
    box-shadow: none;
    border-radius: none;
}
.news-shipping  a{
    font-size: 20px;
    text-decoration: none;
    color: black;
   
    
}
.news-shipping h3{
    margin: 25px;

}
.news-shipping span{
    margin-right: 15px;
    opacity: 0.6;
    font-size: 12px;
    margin: 5px;
   
}
.news-shipping p{
    opacity: 0.6;
   
    margin: 25px;
}
.reed-more{
    margin: 25px;
    font-size: 12px;
}



/* our-news end */

/* logos start */
.nine{
    width: 100%;
    background-color: #F5F5F5;
    margin-top: 100px;
}
.logos{
    display: flex;
    
}
.logo-one img{
    padding: 50px 65px 50px 70px;
}

/* logos end  */


/* footer start */

.ten{
    width: 100%;
    background-color: #051922;

    font-family: "Open Sans", sans-serif;
   
}
.ten-area{
    
    padding: 100px 50px 100px 50px;
    display: flex;
    color: #ffffff;
}
.ten-one{
    width: 25%;
    margin-left: 35px;
   

}

.ten-one p{
    margin-top: 50px;
    opacity: 0.7;
}
.ten-two{
    width: 25%;
    margin-left: 50px;
    
    
}
.ten-two ul{
    list-style: none;
    margin-top: 50px;
    opacity: 0.7;
}
.ten-two ul li{
    margin-top: 15px;
}

.ten-three{
    width: 25%;
    margin-left: 50px;
    
}
.ten-three ul {
    margin-top: 50px;
    list-style-type: square;
    opacity: 0.7;
    
}
.ten-three ul li{
    margin-top: 15px;
}
.ten-three ul li:hover{
    color: #F28123;
}
.home::marker
{
    color: #F28123;
}
.ten-four{
    width: 25%;
  
}

.ten-four p{
    margin-top: 50px;
    margin-bottom: 20px;
    opacity: 0.7;
}
.ten-four input{
    padding: 16px;
    background-color: #012738;
    border: none;
    border-radius: 5px 0px 0px 5px;
}

.ten-four a{
    background-color: #012738;
    color: #F28123;
    padding: 14px ;
    border: none;
    border-radius: 0px 5px 5px 0px;
}

.eleven{
    width: 100%;
    display: flex;
    background-color: #051922;
    border-top: 1px solid #232a35;
    font-family: "Open Sans", sans-serif;;
}
.eleven-one{
    width: 50%;
    font-size: 15px;
    opacity: 0.7;
    padding: 20px 0px 20px 80px;;
    color: white;
    
}
.eleven-one a{
    color: #F28123;
    text-decoration: none;
}
.eleven-two{
    width: 50%;
    padding-left: 400px;
}
.eleven-two i{
    margin-top: 15px;
    color: white;
    padding: 10px;
    opacity: 0.7;
}
.eleven-two i:hover{
    color: #F28123;
}

/* footer end */





