* {
    margin: 0;
    padding: 0;

}

.header {

    background-color: black;
    overflow: hidden;
}



.navbar li {
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 92px;
}

.navbar a {
    color: white;
    /* padding: 10px 40px 10px 10px; */
    font-size: 40px;
    text-decoration: none;
}

.navbar a:hover {
    color: gold;
}

/* .h1{
    color:gold;
    margin-left: 40%;

} */

.center {
    width: 100%;
}

.main {
    width: 100%;
    background-color: goldenrod;
    float: left;
    height: 100%;
}

.product {
    margin: 20px;
    width: 15%;
    float: left;
    text-align: center;
    /* border: 1px solid; */
}

.product button {
    height: 35px;
    width: 100px;
    border: 2px solid black;
    /* margin-left: px; */
    margin-top: 15px;
}

.product button:hover {
    background-color: black;
    color: white;
}